# Backup ignores when `files` in package.json is used (negations in `files` are authoritative).
/example/
/docs/
/scripts/
/src/
/fixtures/
__mocks__
__tests__
*.tgz
/android/build/
/android/.gradle/
/android/src/test/
/android/src/androidTest/
/plugin/src/
/plugin/tsconfig*
