<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools">

  <!-- Android 11+ package visibility: SDK checks com.apple.android.music via getPackageInfo -->
  <queries>
    <package android:name="com.apple.android.music" />
  </queries>

  <application>
  <!-- musickitauth AAR targets API 28 and omits android:exported on SDKUriHandlerActivity -->
    <activity
      android:name="com.apple.android.sdk.authentication.SDKUriHandlerActivity"
      android:exported="true"
      tools:node="merge" />
  </application>
</manifest>
